@use '../custom' as *;
@use '../components/mixins' as *;

.menu{
    @include gradient;

    li{
        padding: 0 0.7rem;
        font-family: 'Yellowtail';

        a {
            color: $white !important;
            text-transform: capitalize;
            font-family:'yellowtail';
            font-weight: 300;
        }
    }


   
}